body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.content {
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem;
}

.content-box {
    background-color: #f8d7da;
    padding: 1rem;
    border-radius: 5px;
}

.carousel-item {
    justify-content: center;
}

.carousel-item .row {
    width: 100%;
}

.carousel-item .card {
    margin: 0.5rem;
}

.card img {
    max-height: 200px;
    object-fit: cover;
}